profiles {
    slurm {
        process {
            executor = 'slurm'
            cpus   = 1
            memory = 256.MB
            queue  = 'normal'
        }
        workDir = '/nextflow/work'
    }
}

process {
    beforeScript = { "export RUN_NAME=${workflow.runName}; export WORKFLOW_NAME=${workflow.scriptName}" }
}
