profiles {
    slurm {
        process {
            executor = 'slurm'
            cpus   = 1
            queue  = 'normal'
        }
        workDir = '/nextflow/work'
    }

    local {
        process.executor = 'local'
        workDir = 'work'
    }
}

process {
    beforeScript = { "export RUN_NAME=${workflow.runName}; export WORKFLOW_NAME=${workflow.scriptName}" }
}